@import '../../../styles/settings.scss';

.box{
    max-width: 1400px;
    margin: $base-size auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    color: white;
}