@import '../../../../styles/settings.scss';

.mainBox{
    height: 500px;
    max-width: 800px;
    background: rgb(126,217,87);
    background: linear-gradient(142deg, rgba(126,217,87,1) 0%, rgba(140,82,255,1) 100%);
    border-radius: $base-size;
}

.planName{
    padding: $base-size;
}

.exerciseEmptyField{
    border-radius: $base-size;
    font-family: $font-first;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $base-size;
    min-width: 500px;
    background-color: #ffffff80;
    padding: $base-size;
}

.description{
    display: flex;
    align-items: center;
    p{
        margin: 0 $base-size*0.5;
    }

}

.exercisceParameters{
    justify-self: end;
}