@import "../../../../styles/settings.scss";

.mainBox {
  padding: $base-size;
  min-width: 600px;
  max-width: 800px;
  background: rgb(126, 217, 87);
  background: linear-gradient(
    142deg,
    rgba(126, 217, 87, 1) 0%,
    rgba(140, 82, 255, 1) 100%
  );
  border-radius: $base-size;
}

.titleWrite{
  color: white;
  margin: $base-size 0;
}

.planName {
  font-size: $base-size * 0.8;
  padding: $base-size;
  transition: $transition;
  
  .title {
    font-weight: 600;
    color: white;
    font-family: $font-first;
    font-size: $base-size * 1.5;
  }

  .creatingName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $base-size * 0.8;
    input{
      padding: $base-size * 0.5;
      font-family: $font-first;
      font-size: $base-size * 0.8;
      border: none;
      background-color: #ffffff80;
      border-radius: $base-size;
      transition: $transition;
    }
    input:focus {
      outline: none;
      animation: pulse 1s infinite;
    }
  
    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      }
      70% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }

  .settingButton {
    padding: $base-size * 0.5;
    border: none;
    min-width: 100px;
  
    margin: 0 $base-size;
    background-color: #ffffff80;
    border-radius: $base-size;
    transition: $transition;
  }
}

.settingButton:hover {
  scale: 1.1;
  cursor: pointer;
}

.titleHolder {
  font-size: $base-size * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
  margin: 0 $base-size * 0.5;
}

.icon:hover {
  cursor: pointer;
}

.addingForm{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $base-size * 0.8;
  padding: $base-size;
  input{
    padding: $base-size * 0.5;
    font-family: $font-first;
    font-size: $base-size * 0.8;
    border: none;
    background-color: #ffffff80;
    border-radius: $base-size;
    transition: $transition;
  }
  input:focus {
    outline: none;
    animation: pulse 1s infinite;
  }
}

.addingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  margin: 0 $base-size;
  font-size: $base-size * 2;
  color: #ffffff80;
  transition: $transition;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.addingButton:hover {
  cursor: pointer;
  scale: 1.1;
  font-size: $base-size * 2;
  color: #ffffff80;
}
